.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
            float: left;
        }
    }
    a {
        background-color:$secondaryColor;
       border-radius: 3px;
        padding: .7em 1.5em;
        display: block;
        color: #fff;
        @include box-sizing();
        // border-radius:4px;
        &:hover,
        &:focus {
            color: #FFF;
             background-color:darken($secondaryColor, 15);
           
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            background-color:#000;
            
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}